<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Home team</th>
      <th>Away team</th>
      <th>Date</th>
      <th>Favored team</th>
      <th>Spread</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.home_team %></td>
        <td><%= game.away_team %></td>
        <td><%= game.date %></td>
        <td><%= game.favored_team %></td>
        <td><%= game.spread %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
