<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :login, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
        <%= f.check_box :remember_me, :class => 'form-control form-checkbox' %>
        <%= f.label :remember_me %>
    </div>
  <% end -%>

  <br />
  <div class="actions">
    <%= f.submit "Log in", :class => 'form-control btn' %>
  </div>
<% end %>
