<!DOCTYPE html>
<html>
  <head>
    <title>Srfootballpool</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div class="container">
      <% flash.each do |key, value| %>
        <div id="flash" class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>

    <script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#flash').remove();
  }, 5000);
})
    </script>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Wagr</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to 'Home', root_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path %></li>
            <li><%= link_to "Games", games_path %></li>
            <li><%= link_to "New Player", new_player_path %></li>
            <% if current_user.admin? %>
              <li><%= link_to "New Game", new_game_path %></li>
            <% end %>
          <% else %>
            <li><a data-toggle="modal" data-target="#signIn" style="cursor: pointer">Sign In</a></li>
            <li><a data-toggle="modal" data-target="#registration" style="cursor: pointer">Register</a></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div id="main-container" class="container-fluid">
      <!-- Sign In Modal -->
      <div class="modal fade" id="signIn" role="dialog">
        <div class="modal-dialog">

          <!-- Sign In Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Sign In</h4>
            </div>
            <div class="modal-body">
              <%= render 'devise/sessions/new', resource: User.new, resource_name: :user, devise_mapping: Devise.mappings[:user] %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>

      <!-- Registration Modal -->
      <div class="modal fade" id="registration" role="dialog">
        <div class="modal-dialog">

          <!-- Registration Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Registration</h4>
            </div>
            <div class="modal-body">
              <%= render 'devise/registrations/new', resource: User.new, resource_name: :user, devise_mapping: Devise.mappings[:user] %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-10">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
